/* Debug */
.debug .margini {
    width: 70%;
    height: 900px;
    background-color: aquamarine;
    margin: 2rem auto;
}

.debug .img {
    width: 31.3%;
    height: 400px;
    background-color: cadetblue;
}
 
/* /Debug */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.margini {
    position: relative;
    width: 70%;
    margin: 1rem auto;

}

.rawup {
    width: 100%;
    position: relative;

}

.img1, .img2, .img3, .img4, .img5, .img6 {
    float: left;
    width: 31.33%;
    margin: 1rem 1%;
}

.discount {
    position: absolute;
    bottom: 0;
}



