/* Debug */
.debug .margini {
    width: 70%;
    height: 900px;
    background-color: aquamarine;
    margin: 2rem auto;
}

.debug .img {
    width: 31.3%;
    height: 400px;
    background-color: cadetblue;
}
 
/* /Debug */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.margini {
    position: relative;
    width: 70%;
    margin: 1rem auto;

}

.rawup {
    width: 100%;
}

.img1 {
    position: relative;
}
.colonna {
    float: left;
    width: 31.33%;
    margin: 1rem 1%;
}

.discount {
    position: absolute;
    bottom: 0.2rem;
    left: 0.2rem;
}

.like {
    position: absolute;
    right: 0;
    top: 2rem;
}

img {
    width: 100%;
}


